#root {
  height: 100%;
}

.mw {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mw-main {
  height: 100%;
  display: flex;
  padding: $spacing-s;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  @include medium-screen {
    padding: $spacing-m;
  }
}

.mw-main__buttons {
  display: flex;
  flex-direction: column;

  .mw-btn:not(:last-child) {
    margin-bottom: $spacing-s;
  }

  @include x-small-screen {
    flex-direction: row;
    justify-content: space-between;

    .mw-btn:not(:last-child) {
      margin: 0
    }
  }
}
