#root {
  height: 100%;
}

.mw {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mw-main {
  height: 100%;
  display: flex;
  padding: $spacing-m;
  flex-direction: column;
  flex: 1;
}

.mw-main__buttons {
  padding: $spacing-m;
  display: flex;
  justify-content: space-between;
}
