.mw-legend {
  position: absolute;
  right: $spacing-m;
  display: flex;
  flex-direction: column;
  font-size: .8em;
  color: $secondary-color;
  user-select: none;

  &__color {
    margin-bottom: $spacing-s;
    padding-left: $spacing-m + 10;
    height: $spacing-m;
    line-height: $spacing-m;
    display: block;


    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: $spacing-m;
      height: $spacing-m;
      border-radius: $spacing-m;
      display: block;
      background-color: var(--bgcolor);;
    }
  }
}