.mw-legend {
  right: $spacing-m;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: .8rem;
  color: $secondary-color;
  user-select: none;

  @include medium-screen {
    position: absolute;
    font-size: .9rem;
    flex-direction: column;
  }

  &__item {
    padding-left: $spacing-s + 10;
    height: $spacing-s;
    line-height: $spacing-s;
    display: block;
    position: relative;

    @include medium-screen {
      margin-bottom: $spacing-s;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: $spacing-s;
      height: $spacing-s;
      border-radius: 2px;
      display: block;
      background-color: var(--bgcolor);;
    }
  }
}