.mw-legend {
  position: absolute;
  right: 0;
  margin: $spacing-m;
  display: flex;
  flex-direction: column;

  &__color {
    align-self: flex-end;
    color: #fff;
    font-weight: bold;
    padding: $spacing-s $spacing-m;
    margin-bottom: $spacing-s;
    border-radius: $spacing-m;
  }
}