$spacing-s: 12px;
$spacing-m: 24px;
$radius: 8px;
$btn-height-s: 44px;
$btn-height-m: 60px;
$panel-height-s: 60px;
$panel-height-m: 100px;
$icon-size-s: 35px;
$icon-size-m: 40px;

$primary-color: #ff4700;
$secondary-color: #6b6b6b;

